<% layout('layouts/post-show-layout') -%>


<h1><%= post.title %>
</h1>

<p>
  <%= post.price %>
</p>
<p>
  <%= post.description %>
</p>
<p>
  <%= post.location %>
</p>
<p>
  <% post.images.forEach(function(image) { %>
  <img src="<%=image.url %>" width="220px">
  <% }); %>
</p>
<div id='map'></div>

<p><a href="/posts/<%= post.id %>/edit"><button>Edit</button></a></p>
<p>
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" class="btn btn-danger" value="Delete">
  </form>
</p>
<h2>Create a Review</h2>
<form action="/posts/<%= post.id %>/reviews" method="POST">
  <textarea name="review[body]" required></textarea>
  <input type="number" name="review[rating]" min="1" max="5" step="1" placeholder="1" required>
  <button type="submit">Submit</button>
</form>
<!-- Display all reviews -->
<% post.reviews.forEach(function(review) { %>
<div>
  <h3>Reviews</h3>
  Author: <%= review.author.username %><br>
  Rating: <%= review.rating %><br>
  Review: <%= review.body %>
</div>
<div>
  <button class="toggle-edit-form">Edit</button>
  <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
    <textarea name="review[body]" required><%= review.body %></textarea>
    <input type="number" name="review[rating]" min="1" max="5" step="1" placeholder="1" value="<%= review.rating %>" required>
    <button type="submit">Update</button>
  </form>
</div>
<hr>
<% }); %>

<script>
  var post = <%- JSON.stringify(post) %>;
</script>

<script>
  $('.toggle-edit-form').on('click', function() {
    $(this).text() === 'Edit' ? $(this).text('Cancel') : $(this).text('Edit');
  })
</script>

<script src="/javascripts/post-show.js"></script>