<h1><%= post.title %>
</h1>

<p>
  <%= post.price %>
</p>
<p>
  <%= post.description %>
</p>
<p>
  <%= post.location %>
</p>
<p><a href="/posts/<%= post.id %>/edit">Edit Post</a></p>
<!-- <p><a href="/posts/<%= post.id %>">Delete Post</a></p> -->