<% layout('layouts/post-show-layout') -%>


<h1><%= post.title %>
</h1>

<div>
  <%= post.price %>
</div>
<div>
  <%= post.description %>
</div>
<div>
  <%= post.location %>
</div>
<div>
  <% post.images.forEach(function(image) { %>
  <img src="<%=image.url %>" width="220px">
  <% }); %>
</div>
<div id='map'></div>

<div><a href="/posts/<%= post.id %>/edit"><button class="btn btn-warning">Edit</button></a></div>
<div>
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" class="btn btn-danger" value="Delete">
  </form>
</div>
<h2>Create a Review</h2>
<form action="/posts/<%= post.id %>/reviews" method="POST">
  <input type="text" name="review[title]" id="title" required>
  <textarea name="review[body]" required></textarea>
  <input type="number" name="review[rating]" min="1" max="5" step="1" placeholder="0" required>
  <button type="submit">Submit</button>
</form>
<!-- Display all reviews -->
<h3 style="text-decoration: underline; padding-bottom: 2rem;"><u>Reviews</u></h3>
<% post.reviews.forEach(function(review) { %>
<div>
  <h4><%= review.title %></h4><br>
  Author: <%= review.author.username %><br>
  Rating: <%= review.rating %><br>
  Review: <%= review.body %>
</div>
<% if(review.author.equals(currentUser._id)) { %>
<div>
  <button class="toggle-edit-form btn btn-warning">Edit</button>
  <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
    <textarea name="review[body]" required><%= review.body %></textarea>
    <input type="number" name="review[rating]" min="1" max="5" step="1" placeholder="1" value="<%= review.rating %>"
      required>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
  <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
    <input type="submit" class="btn btn-danger" value="Delete">
  </form>
</div>
<% } %>
<hr>
<% }); %>